            body{
            text-align: center;
                margin: 0px;
                background-color: #fae2c1;
                color: rgb(0, 0, 0);
            }
            header{
                background-color: rgb(255, 255, 255);
                height: 120px;
                color: rgb(0, 0, 0);
                margin: 0px;
            }
            h1{
                margin: 0px;
                padding-top: 20px;
                font: bold;
                font-size: 60px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
.game {
    margin-left: auto;
    margin-right: 20px; 
    margin-top: 80px;
    background-color: rgb(253, 242, 181);
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    width: 500px;
}

.number {
    font-size: 48px;
    margin: 20px 0;
}

.buttons button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
}

#restart {
    margin-top: 20px;
}