body{
    margin: 0px;
    text-align: center;
    background: linear-gradient(to right, rgb(59, 59, 59), rgb(78, 78, 78));
    color: white;
}
a{
    text-decoration-line: none;
    color: green;
}
header{
    background-color: black;
    color: white;
    height: 80px;
    text-align: center;
}
h2{
    color: black;
}
h1{
    margin: 0px;
    padding-top: 15px;
}
footer{ 
    background-color: black;    /*Gjør at bakgrunnsfargen på banneret blir svart*/
    width: 100%;    /*Gjør at banneret tar opp hele bredden*/
    height: 80px;   /*Gjør at banneret blir 80px høyt*/
    position: fixed;    /*Sørger for at banneret er festet til bunnen av siden*/
    bottom: 0;  /*Plasserer banneret nederst*/
    color: white;
    text-align: center;
    vertical-align: center;}

a:hover{
    color: red;
}