    body{
        margin: 0px;
        background-color: rgb(64, 60, 60);
        }
    h1{
        font-size: 60px;
        padding: 0px;
        margin: 0px;
        color: white;
        padding-top: 20px;
        }
    header{
        background-color: black;
        height: 120px;
        text-align: center;
        }
        
    .grid-container {
        display: grid;  /*sier at det skal displayes som grid*/
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; /*lager en kolonne som tar opp all tilgjengelig plass*/
        margin: 0px;    /*fjerner margin rundt grid-containeren*/
        color: white;
        text-align: center;
        font-family: arial, bold;
        }
    .grid-container_1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0px;
        background-color: rgb(81, 81, 81);
        color: white;
        height: 100px;
        text-align: center;
        }
    p{
        font-family:arial, bold ;
        font-size: 20px;
        padding-top: 18px;
        }
    .mainpanel, .sidepanel{
        border-style: none;    /*Gjør at panelene får en kantlinje*/
        padding: 20px;  /*Lager litt padding rundt panelene*/
        background-color: rgb(48, 49, 49);   /*Endrer bakrunnsfargen*/
        }
    .panel1, .panel2, .panel3, .panel4, .panel5{
        border-style: none;
        padding: 20px;
    }
    .panel1{
        background-color: rgb(118, 118, 10);
    }
    .panel2{
        background-color: silver;
    }
    .panel3{
        background-color: orange;
    }
    .panel4, .panel5{
        background-color: grey;
    }
    .grid-container :hover {
        background-color: rgb(86, 88, 88);   /*Endrer bakrunnsfargen*/
    }
     .grid-container_2 {
        display: grid;  /*sier at det skal displayes som grid*/
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /*lager en kolonne som tar opp all tilgjengelig plass*/
        margin: 0px;    /*fjerner margin rundt grid-containeren*/
        color: white;
        text-align: center;
        font-family: arial, bold;
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
        }
    .grid-container_3 {
        display: grid;  /*sier at det skal displayes som grid*/
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /*lager en kolonne som tar opp all tilgjengelig plass*/
        margin: 0px;    /*fjerner margin rundt grid-containeren*/
        color: white;
        text-align: center;
        font-family: arial, bold;
        margin-right: 20px;
        margin-left: 20px;
        background-color: rgb(46, 46, 46);
        }
    footer{ 
        background-color: black;    /*Gjør at bakgrunnsfargen på banneret blir svart*/
        width: 100%;    /*Gjør at banneret tar opp hele bredden*/
        height: 80px;   /*Gjør at banneret blir 80px høyt*/
        position: fixed;    /*Sørger for at banneret er festet til bunnen av siden*/
        bottom: 0;  /*Plasserer banneret nederst*/
        color: white;
        text-align: center;
        vertical-align: center;}